.wrpper{
	width: 980px;
	margin: 0 auto;
}
.head{padding-top:50px;}

.search{width: 500px; margin: 0 auto;}
.searchInput{width: 400px;height: 30px; }
.search_tips{top:0px; left:0px; color: #bfbfbf; width: 404px;height: 34px; cursor: text; line-height: 34px; text-indent: 10px;}

.main{width: 980px; margin-top: 20px;}
.mainList{}
.listItem{margin-right: 20px; margin-bottom: 20px;}
.listItem .itemName{width: 220px; margin-top: 10px; margin-left: 20px; height: 70px;}
.listItem .itemPrice{ height: 80px;}
